@model APM.Domain.Event

@{
    ViewData["Title"] = "Delete Event";
}

<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"] - @Model.EventName</h1>
        <p>Are you sure you want to do this?</p>
    </div>
</div>

<div class="container">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Expiry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Expiry)
            </dd>
            <dt>

            </dt>
            <dd>
                <br />
                <br />
                <form asp-action="Delete">
                    <input asp-for="EventName" value="@Model.EventName" hidden />
                    <input type="submit" value="Delete" class="btn btn-default" />
                </form>
            </dd>
        </dl>




        @if (ViewData["message"] != null)
        {
            <div class="alert alert-danger">
                <p>@ViewData["message"]</p>
            </div>
        }
</div>