@model APM.Domain.Event

@{
    ViewData["Title"] = "Event Details";
}

<div class="jumbotron">
    <div class="container">
        <h1>@ViewData["Title"] - @Model.EventName</h1>
        <p>Event details. See used/un-used codes and download them into a CSV.</p>
    </div>
</div>

<div class="container">

    @if (ViewData["Message"] != null)
    {
        <div class="alert alert-danger">
            <p>@ViewData["Message"]</p>
        </div>
    }

    <div>
        <div class="well">
            <p class="lead">Instruct delegates to claim codes at <a href="@ViewData["AbsoluteUrl"]">@ViewData["AbsoluteUrl"]</a></p>
            <p>You may want to use <a href="http://aka.ms">http://aka.ms</a> to create an easy-to-remember short link for this.</p>

        </div>

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.EventName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.EventName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Owner)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Owner)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Expiry)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Expiry)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AvaliableFrom)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvaliableFrom)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.AvaliableUntil)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.AvaliableUntil)
            </dd>
            <dt>
                Claimed Codes
            </dt>
            <dd>
                @Model.Codes.Where(o => o.Claimed).Count() claimed codes
                <a href="#" data-toggle="modal" data-target="#claimedCodesModal">See claimed codes</a>
            </dd>
            <dt>
                Un-claimed Codes
            </dt>
            <dd>
                @Model.Codes.Where(o => !o.Claimed).Count() unclaimed codes:
                <a href="#" data-toggle="modal" data-target="#unclaimedCodesModal">See un-claimed codes</a>

            </dd>
        </dl>
    </div>
    <div>
        <a asp-controller="AdminEvents" asp-action="Delete" asp-route-eventname="@Model.EventName" class="btn btn-secondary">Delete</a>
        <a asp-controller="AdminEvents" asp-action="Download" asp-route-contents="@string.Join(",", Model.Codes.Where(c => c.Claimed).Select(c => c.PromoCode).ToList())" asp-route-filename="@string.Join(Model.EventName,"claimed")" class="btn btn-secondary">Download claimed codes</a>
        <a asp-controller="AdminEvents" asp-action="Download" asp-route-contents="@string.Join(",", Model.Codes.Where(c => !c.Claimed).Select(c => c.PromoCode).ToList())" asp-route-filename="@string.Join(Model.EventName,"unclaimed")" class="btn btn-secondary">Download unclaimed codes</a>
        <a href="https://slack.com/oauth/authorize?scope=bot&client_id=221668590789.254971910054&redirect_uri=https%3a%2f%2fslack.botframework.com%2fHome%2fauth&state=APMBot" class="btn btn-secondary">Slack Bot</a>
        <a href="https://join.skype.com/bot/d4189d5e-f76f-44b7-bfab-ac3a48b17f24" class="btn btn-secondary">Skype Bot</a>
        <a href="https://teams.microsoft.com/l/chat/0/0?users=28:d4189d5e-f76f-44b7-bfab-ac3a48b17f24" class="btn btn-secondary">Teams Bot</a>
    </div>
</div>

<!-- Claimed Codes Modal -->
<div class="modal fade" id="claimedCodesModal" tabindex="-1" role="dialog" aria-labelledby="claimedCodesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="claimedCodesModalLabel">Claimed codes</h2>
            </div>
            <div class="modal-body">
                <p>@Model.Codes.Where(o => o.Claimed).Count() codes have already been used. @Model.Codes.Where(o => !o.Claimed).Count() are left for this event.</p>
                <p>The following codes have been claimed already.</p>
                @foreach (var c in Model.Codes.Where(c => c.Claimed).Select(c => c.PromoCode).ToList())
                {
                    <a asp-controller="AdminCode" asp-action="Details" asp-route-eventname="@Model.EventName" asp-route-promocode="@c">@c</a>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- UnClaimed Codes Modal -->
<div class="modal fade" id="unclaimedCodesModal" tabindex="-1" role="dialog" aria-labelledby="unclaimedCodesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="unclaimedCodesModalLabel">Un-Claimed codes</h2>
            </div>
            <div class="modal-body">
                <p>@Model.Codes.Where(o => o.Claimed).Count() codes have already been used. @Model.Codes.Where(o => !o.Claimed).Count() are left for this event.</p>
                <p>The following codes are un-claimed and still avaliable.</p>
                @foreach (var c in Model.Codes.Where(c => !c.Claimed).Select(c => c.PromoCode).ToList())
                {
                    <a asp-controller="AdminCode" asp-action="Details" asp-route-eventname="@Model.EventName" asp-route-promocode="@c">@c</a>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>