@model APM.Domain.Event

@{
    ViewData["Title"] = "Event Details";
}


@if (@Model == null)
{
    <div class="jumbotron">
        <div class="container">
            <h1>There was a problem</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (ViewData["message"] != null)
                {
                    <p>@ViewData["message"]</p>
                }
            </div>
        </div>
    </div>
}
else
{
    <div class="jumbotron">
        <div class="container">
            <h1>Welcome to @Model.EventName</h1>
            <p class="lead">We're about to give you an Azure trial code.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>These codes give you a bunch of free Azure credits to use at <b>@Model.EventName</b>.</p>
                <p>Please only claim a code if you plan to use it. We have a limited number and we'll assume the code has been claimed as soon as we show it to you.</p>
                <p>Claimed codes need to be activated by <b>@Model.Expiry.ToLongDateString()</b>. We'll tell you where to activate it on the next page.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ClaimCode">
                    <input type="text" hidden id="eventName" name="eventName" value="@Model.EventName">
                    <button type="submit" class="btn btn-primary">Claim Your Code</button>
                </form>
                <br />
                @if (ViewData["message"] != null)
                {
                    <div class="alert alert-danger">
                        <p>@ViewData["message"]</p>
                    </div>
                }
            </div>
        </div>
    </div>
}



