@model APM.Domain.Event

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Expiry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Expiry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            <a href="@Model.Url">@Model.Url</a>
        </dd>
        <dt>
            Claimed Codes
        </dt>
        <dd>
            @Model.Codes.Where(o=>o.Claimed).Count() claimed codes:
            <br />
            @string.Join(",", Model.Codes.Where(c => c.Claimed).Select(c => c.PromoCode).ToList())
            <br />
            @Html.ActionLink("Download claimed codes", "Download", new { contents = string.Join(",", Model.Codes.Where(c => c.Claimed).Select(c => c.PromoCode).ToList()), fileName = $"{Model.EventName}-claimed" })
        </dd>
        <dt>
            Un-Claimed Codes
        </dt>
        <dd>
            @Model.Codes.Where(o => !o.Claimed).Count() unclaimed codes:
            <br />
            @string.Join(",", Model.Codes.Where(c => !c.Claimed).Select(c => c.PromoCode).ToList())
            <br />
            @Html.ActionLink("Download unclaimed codes", "Download", new { contents = string.Join(",", Model.Codes.Where(c => !c.Claimed).Select(c => c.PromoCode).ToList()), fileName = $"{Model.EventName}-unclaimed" })
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a> | 
    @Html.ActionLink("Delete event and asscoiated codes", "Delete", new { eventName = Model.EventName })
</div>
