@model IEnumerable<APM.Domain.Event>

@{
    ViewData["Title"] = "Your Events";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expiry)
            </th>
            <th>
                Codes
            </th>
            <th>
                Claim Url
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.EventName, "Details", new { eventName = item.EventName })
            </td>
            <td>
                @item.Expiry.ToLongDateString()
            </td>
            <td>
                <span>@item.Codes.Where(c => c.Claimed).Count() used, @item.Codes.Where(c => !c.Claimed).Count() avaliable</span>
            </td>
            <td>
                <a href="@item.Url">@item.Url</a>
            </td>
        </tr>
}
    </tbody>
</table>
